.flexbox-container{
    display: flex;
    /* background-color: peru; */
    height: 9500px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 0  0 0;
}
.flex-item-1{
    text-align: center;
    margin: 0;
    width: 850px;
    /* background-color: pink; */
}
.flex-item-2{
    width: 850px;
    /* background-color: purple; */
}