/* .parent {
  background-color: linen;
  padding: 29px;
}
.first {
  border: 1px solid;
  border-right-color: Blue;
  border-top-color: Red;
  border-bottom-color: Green;
  border-left-color: Black;
}
.second {
  margin-top: 10px;
  border: 1px solid;
  border-color: Blue;
  
  border-width: 10px;
  border-top-style: solid;

  border-top-style: none;
  border-top-style: hidden;
  border-top-style: outset;

  border-right-style: double;
  border-bottom-style: dashed;
  border-left-style: groove;
}

.third {
    margin-top: 10px;
  border: 1px solid;
  border-right-color: Blue;
  border-top-color: Red;
  border-bottom-color: Green;
  border-left-color: Black;
}
.fourth {
 
  width: 90pc;
 height: 45px;
 margin: 10px;
 border: 1px solid black;
 padding: 8px;
} */
.main {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

#model {
  padding-top: 40px;
  width: 450px;
  height: 110px;
  border: 40px solid pink;
  margin: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
